# Data
rsc/*
*.xls
*.xlsx
*.csv
*.dmg

# Cache files
*.ipynb_checkpoints
__pycache__
*.pyc
*.swp

# Images
*.gif
*.pdf
*.png

# LaTeX stuff
*.aux
*.bak
*.bbl
*.bcf
*.blg
*-blx.bib
*.dvi
*.fdb_latexmk
*.fls
*.listing
*.lof
*.lol
*.log
*.lot
_minted-*
*.nav
*.out
*.run.xml
*.snm
*.toc
*.xdv
