# Data
*.xls
*.xlsx
*.csv
thesis-data.dmg

# Notebooks and cache files
./data/nbs/
./*.ipynb
./*/*.ipynb
*.ipynb_checkpoints
__pycache__
*.pyc

# Images
tex/img/*.pdf
tex/img/*.png

# LaTeX stuff
main.pdf
main.aux
main.bcf
main.log
main.run.xml
tex/*.aux
tex/*.pdf
tex/*.log
tex/*.bcf
tex/*.run.xml
