[submodule "chapters/lit/paper"]
    path = chapters/lit/paper
    url = https://github.com/daffidwilde/literature-review
    branch = main
[submodule "chapters/edo/paper"]
	path = chapters/edo/paper
	url = https://github.com/daffidwilde/edo-paper
    branch = main
[submodule "chapters/kmodes/paper"]
	path = chapters/kmodes/paper
    url = https://github.com/daffidwilde/kmodes-init-paper
    branch = main
[submodule "chapters/copd/paper"]
    path = chapters/copd/paper
    url = https://github.com/daffidwilde/copd-paper
    branch = main
[submodule "appendix/matching/paper"]
    path = appendix/matching/paper
    url = https://github.com/daffidwilde/matching
    branch = main
[submodule "appendix/data/paper"]
	path = appendix/data/paper
    url = https://github.com/daffidwilde/cwmtaf-analysis
    branch = main
