# Data
*.xls
*.xlsx
*.csv
thesis-data.dmg

# Notebooks and cache files
./*.ipynb
./*/*.ipynb
*.ipynb_checkpoints
__pycache__
*.pyc


# LaTeX stuff
./latex/*
!./latex/*.tex
!./latex/*.bib
!./latex/*.pdf