[submodule "chapters/02/edo-paper"]
	path = chapters/02/edo-paper
	url = https://github.com/daffidwilde/edo-paper
[submodule "chapters/03/kmodes-init-paper"]
	path = chapters/03/kmodes-init-paper
	url = https://github.com/daffidwilde/kmodes-init-paper
